body {
    font-family: 'Hind Siliguri';
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;    /* Center content vertically */
    height: 500px;          /* Full height of the viewport */
    width: 500px;
}

.container {
    text-align: center;     /* Center text and content inside the container */
    width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.stethoscope-image {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.dropdown-container {
    margin-bottom: 20px;
}

#diseaseButton {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
